/* 1024px for small laptops */
@media (max-width: 1024px){

}

/* 768px for tablets */
@media (max-width:768px){
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: white;
        padding: 0 10px !important;
        z-index: 999;
        
    }

    .nav-wrapper{
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        height: 100vh;
        background-color: white;
        z-index: 999;
        transform: translate(100%);
        transition: transform 0.6s ease-in-out;
    }

    .menu-open{
        transform: translate(0);
    }

    .nav-links{
        flex-direction: column;
        margin: 40px 0;
    }

    .nav-links li a{
        display: block;
        text-align: center;
        padding: 30px 0;
        font-size: 24px;
    }

    .menu-btn{
        display: block;
        font-size: 28px;
        color: white;
    }

    #close-btn{
        position: absolute;
        left: 15px;
        top: 15px;
        padding: 6px;
        background-color: rgb(6, 201, 6);
        border-radius: 14px;
    }

    #open-btn{
        background-color: rgb(6, 201, 6);
        padding: 6px;
        border-radius: 14px;
    }

    .logo{
        font-size: 24px;
    }

    .hero{
        height: 70vh;
        text-align: center;
    }

    .hero h1{
        font-size: 42px;
        margin: 0 40px;
        margin-bottom: 30px;
    }

    .hero p{
        font-size: 18px;
        margin:  0 40px;
        margin-bottom: 30px;
    }

    .about-container{
        flex-direction: column-reverse;
    }

    .massage-moment{
        height: 240vh;
    }

    .service-container{
        flex-direction: column;
    }

    .contact-section .contact-container{
        flex-direction: column;
    }

    footer{
        height: 100vh;
    }

    footer .footer-container{
        flex-direction: column;
    
    }
    footer .footer-container h4{
        margin-bottom: 25px;
    }

    footer .copy-right{
        margin: 20px 0;
    }
}


/* 600px for mobile */
@media (max-width:600px){
    header{
        padding: 20px 10px;
    }
}

