@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins" sans-serif;
    text-decoration: none;
}



.menu-btn{
    display: none;
}

.logo{
    color: #D4AF37;
}


.cta-btn{
    background-color: #D4AF37;
    padding: 16px 20px;
    color: #ffffff;
    border: 3px double white;
    display: inline-block;
    text-decoration: none;
    margin: 10px auto;
}


.cta-btn:hover{
    background-color: transparent;
    color: #FFFFFF;
    transition: 0.6s ease;
}
.cta-btn2{
    background-color: #D4AF37;
    padding: 16px 20px;
    color: #ffffff;
    border: 3px double white;
    display: inline-block;
    text-decoration: none;
    margin: 10px auto;
}

.cta-btn2:hover{
    background-color: white;
    color: #D4AF37;
    transition: 0.6s ease;
    border: 3px double #D4AF37;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #651839;
    width: 100%;
    padding: 0 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

header .nav-links{
    display: flex;
    
}

header .nav-links li{
    list-style: none;
    position: relative;
}



header .nav-links li a{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500px;
    color: #ffffff;
    padding: 20px;
    text-decoration: none;
    transition: 0.3s ease;
    display: block;
}

.nav-links li a:hover, .ul .active{
    background-color: #D4AF37;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #651839;
  min-width: 160px;
  display: none;
  flex-direction: column;
  padding: 10px 0;
  z-index: 10;
  width: 300PX;
}

.dropdown-menu li {
  width: 100%;
}

.dropdown-menu a {
  display: block;
  padding: 10px 15px;
  color: #fff;
}

.dropdown-menu a:hover {
  background: #333;
}

.dropdown:hover .dropdown-menu {
  display: flex;
}



.hero{
    background: linear-gradient(rgba(22,36,86,0.4),rgba(22,36,86,0.5)), url(./about\ body.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1{
    color: #FFFFFF;
    font-size: 50px;
    margin-bottom: 20px;
}

.hero p{
    font-size: 24px;
    color: white;
    margin-bottom: 15px;
}


.about-section{
    margin: 80px auto;
}

.about-section .about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.about-section .about-container .about-left{
    flex: 1;
    height: 70vh;
}

.about-section .about-container .about-left img{
    width: 100%;
    object-fit: cover;
    height: 70vh;
    border-radius: 12px;
}

.about-section .about-container .about-right{
    flex: 1;
    height: 70vh;
}

.about-section .about-container .about-right h2{
    color: #651839;
    margin-bottom: 15px;
}

.about-section .about-container .about-right p{
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
    color: #333333;
}

.service-section{
    margin: 80px 0;
    text-align: center;
}

.inner-header h1{
    padding: 20px 0;
    color: #651839;
    text-align: center;
}

.inner-header p{
    margin-bottom: 40px;
    text-align: center;
    color: #333333;
}

.service-section .service-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.service-section .service-container .service-card{
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;
    text-align: center;

    
}

.service-section .service-container .service-card img{
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: #D4AF37;
    color: rgb(6, 201, 6);
    margin-bottom: 10px;
}

.service-section .service-container .service-card h3{
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.822);
}

.service-section .service-container .service-card p{
    color: rgba(0, 0, 0, 0.637);
}


.massage-moment{
    margin: 80px 0;
    text-align: center;
    background-color: rgba(230, 229, 229, 0.432);
    height: 140vh;
    overflow: hidden;
}


.massage-container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap: 10px;
}
.massage-container .massage-card{
    /* position: relative; */
    overflow: hidden;
}

.massage-container .massage-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    border-radius: 14px;
    transition: transform 0.6s ease-in-out;
}



.massage-container .massage-card:hover img{
    transform: scale(1.5);
}

.book-section{
    width: 100%;
    height: 40vh;
    background-color: #D4AF37;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.book-section h2{
    font-size: 42px;
    margin-bottom: 20px;
}

.book-section p{
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-section{
    background-color: whitesmoke;
    padding: 80px 0;

}

.contact-section .contact-container{
    display: flex;
    gap: 30px;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.contact-container .form-container{
    flex: 1;
    height: 500px;
    background-color: white;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;
}


.contact-container .form-container .input{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 0 10px;
    border-radius: 7px;
    border: 1px solid lightgray;
}

.contact-container .form-container textarea{
    height: 150px !important;
    resize: none !important;
    padding: 10px 20px !important;
    font-size: 14px !important;
}

.contact-container .contact-right{
    flex: 1;
}

footer{
    background-color: #651839;
    height: 80vh;
    color: white;
}

footer .footer-container{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.footer-logo{
    color: white;
    margin-bottom: 5px;
}

.footer-subtitle{
    margin-bottom: 20px;
    font-size: 16px;
}

footer .footer-container .address{
    margin-bottom: 30px;
}

footer .footer-container .quick-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    transition: 0.3s ease;
}

footer .footer-container .quick-links a:hover{
    color: #D4AF37;
}

footer .footer-container h4{
    margin-bottom: 25px;
}


footer .footer-container p{
    font-size: 16px;
    padding: 0 0 10px 0;
}

footer .footer-container a{
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

footer .footer-container .social{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

footer .footer-container .social-icons{
    display: flex;
    gap: 20px;
}

footer .footer-container .social-icons i{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    color: #D4AF37;
    transition: 0.3s ease;
}

footer .footer-container .social-icons i:hover{
    background-color: #D4AF37;
    color: white;
}



footer .copy-right{
    text-align: center;
    font-size: 16px;
}


/* 
        CONTACT SESSION */


.hero-contact{
    background: linear-gradient(rgba(22,36,86,0.4),rgba(22,36,86,0.5)), url(./Massage3\ \(2\).jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-contact h1{
    color: white;
    font-size: 50px;
}

.main-contact{
    margin: 80px 0;
}

.main-contact .main-container{
    display: flex;
    gap: 50px;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.main-contact .main-container .contact-left{
    flex: 1;
    height: 80vh;
}

.main-contact .main-container .contact-left h2{
    margin-bottom: 40px;
    color: #333333;
}



.main-contact .main-container .contact-left p{
    margin-bottom: 50px;
    font-size: 20px;
    color: #333333;
    display: flex;
    align-items: center;
    
}

.main-contact .main-container .contact-left i{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;
}





.main-contact .main-container .main-form{
    flex: 1;
    height: 80vh;
}


.main-contact .main-container .main-form .input{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 0 10px;
    border-radius: 7px;
    border: 1px solid lightgray;
}

.main-contact .main-container .main-form textarea{
    height: 150px !important;
    resize: none !important;
    font-size: 16px !important;
    padding: 10px 20px !important;
}



.hero-about{
    background: linear-gradient(rgba(22,36,86,0.4),rgba(22,36,86,0.5)), url(./massage6.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.hero-about h1{
    color: white;
    font-size: 50px;
}


.importance-section{
    margin: 140px 0;
}

.importance-container{
    display: flex;
    gap: 50px;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.importance-left{
    flex: 1;
}

.importance-left h2{
    color: #D4AF37;
    background-color: #651839;
    margin-bottom: 20px;
    text-align: left;
    font-size: 30px;
    padding: 10px 14px;
}

.importance-left p{
    color: black;
    margin-bottom: 30px;
    text-align: start;
    font-size: 18px;
}

.importance-left i{
    margin-right: 20px;
    color: black;
}

.importance-right{
    flex: 1;
}

.importance-right img{
    width: 100%;
    height: 70vh;
}

.service-body{
      line-height: 1.6;
      color: black;
      background-image: url(./about\ body.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed; /* This keeps the background still */
      background-position: center center;
      width: 100%;
    }



.hero-service{
    background: linear-gradient(rgba(22,36,86,0.4),rgba(22,36,86,0.5)), url(./Service\ hero.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-service h1{
    color: white;
    font-size: 50px;
}
.main-service{
    padding: 20px 0;
    background-color: white;
}

.main-service .mainservice-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap: 60px 20px;
    max-width: 1200px;
    width: 90%;
    margin: auto;
    text-align: center;
}

.mainservice-container .mainservice-card img{
    width: 100%;
    height: 60vh;
    margin-bottom: 20px;
    object-fit: coVER;
}


.note-section{
    padding: 120px 0;
}

.note-section p{
    text-align: center;
    font-size: 30px;
    color: white;
}


.choose-section{
    background-color: white;
    padding: 40px 0;
}

.choose-section .choose-container{
     display: flex;
    gap: 50px;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.choose-section .choose-container .choose-left{
    flex: 1;
    height: 80vh;
}

.choose-section .choose-container .choose-left h2{
    margin: 40px 0 30px 0;
    background-color: #651839;
    color: #D4AF37;
    padding: 6px 0 6px 10px
}
.choose-section .choose-container .choose-left i{
    margin-right: 20px;
    color: black;
}


.choose-section .choose-container .choose-left p{
    color: black;
    margin-bottom: 30px;
    text-align: start;
    font-size: 18px; 
}




.choose-section .choose-container .choose-right{
    flex: 1;
    height: 80vh;
}

.choose-section .choose-container .choose-right img{
    width: 100%;
    height: 80vh;
}



/* NAIL SERVICES */

.nail-body{
      line-height: 1.6;
      color: black;
      background-image: url(./Nail\ Art.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed; /* This keeps the background still */
      background-position: center center;
      width: 100%;
    }

.hero-nail{
    background: linear-gradient(rgba(22,36,86,0.4),rgba(22,36,86,0.5)), url(./nail\ about\ 2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-nail h1{
    color: white;
    font-size: 50px;
    text-align: center;
}





/* HAIR SERVICES */

.hair-body{
      line-height: 1.6;
      color: black;
      background-image: url(./Natural\ Hair\ Treatment.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed; /* This keeps the background still */
      background-position: center center;
      width: 100%;
    }

.hero-hair{
    background: linear-gradient(rgba(22,36,86,0.4),rgba(22,36,86,0.5)), url(./Bridal\ hair\ styling.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-hair h1{
    color: white;
    font-size: 50px;
    text-align: center;
}